.header{
  height: 12vh;
  width: 100%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
}
.navbar{
  /* border: 2px solid black; */
  width: 40%;
  display: flex;
  align-items: center;
}
.nav-item-container{
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-items{
  /* color: black; */
  list-style-type: none;
  color: white;
  /* display: inline-block; */
}