.reset-mail{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reset-mail-form{
  height: 50%;
  width: 50%;
  /* background-color: white; */
  border-radius: 10px;
}
.reset-form-heading{
  /* color: black; */
  font-size: 20px;
  /* background-color: aquamarine; */
  padding-top: 20px;
  text-align: center;
}
.reset-form{
  /* background-color: aquamarine; */
  /* color: black; */
  height: 50%;
  padding: 30px 150px;
}
.reset-form-input label{
  margin-bottom: 2px;
  font-weight: 800;
}
.reset-form-input input{
  display: inline-block;
  width: 100%;
  padding: 5px 5px;
  /* border: 1px solid black; */
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.reset-mail-btn{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px 156px;
  margin-top: 15px;
  background-color: blue;
  color: white;
}